.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  list-style-type: none;
  display: inline-flex;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  text-decoration: none;
  display: flex;
  margin: 5px;
}

.left-links {
  display: inline-flex;
  margin-left: -40px;
}